<div class="profile" style="display: flex;justify-content: flex-end; min-width: 10rem;">

    <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown button
        </button>
        <div class="dropdown-menu row" aria-labelledby="dropdownMenuButton">
            <div class="col-md-12">
                <h2>hi</h2>
            </div>
        </div>
        <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul> -->
      </div>
  
      <div class="dropdown d-inline-block">
        <button
          type="button"
          class="btn  "
          id="page-header-user-dropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            class="rounded-circle header-profile-user   ml-4"
            src="../../../../assets/images/shop.png"
            alt="Header Avatar"
          />
          <span
            class="d-none d-sm-inline-block ml-2"
            >User</span
          >
          <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <!-- item-->
          <a class="dropdown-item"
            ><i
              class="mdi mdi-face-profile font-size-16 align-middle mr-1"
            ></i>
            Profile</a
          >
  
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" 
            ><i class="mdi mdi-logout font-size-16 align-middle mr-1"></i>
            Logout</a
          >
        </div>
      </div>
    </div>
  