.nav-image {
    height: 60px;
    width: 60px;
    padding: 2px;
}
.brand {
    padding: 20px;
    font-style: normal;
    text-decoration: none;
    color: black;
}
.page-title-box{
    background-color: aliceblue;
}
.card {
    width: 20rem;
    height: 35rem;
    margin: 20px;
    padding: 20px;
}
.card-img-top {
    height: 17rem;
}